*{
	font-family: 'Montserrat', sans-serif;
}

/* ------------------ text styles ----------------- */

a {
	color: ##00BCD4;
}

ul
{
    list-style-type: none;
}

li {
	padding: 5px 0;
}

.txt-xxlg{
	font-size: 60px;
}

.txt-md {
	font-size: 18px;
}

.txt-bold {
	font-weight: bold;
}

.txt-white {
	color: white;
}


/*------------------ Size and Alignment -------------*/

.ht-half {
	height: 50vh;
}

.ht-full, .ht-x {
	height: 100vh;
}

.ht-2x {
	height: 200vh;
}

.al-right{
	text-align: right;
}

.al-left{
	text-align: left;
}

.center-align-horz{
	margin-left: auto;
	margin-right: auto;
}

.width-80 {
	width: 80%;
}

.center-align-vert {
	margin-top: 40%;
}

.desc{
	padding-top: 5%;
	padding-bottom: 5%;
}

.pdg-top-xs {
	padding-top: 1%;
}

.pdg-top-sm {
	padding-top: 5%;
}

.margin-left-sm{
	margin-left: -15px;
}

.margin-left-xs {
	margin-left: -10px;
}

.margin-right-xs {
	margin-right: -10px;
}

/*-------------------- Other styles ----------------*/

.cyan-border {
	border-right: 5px solid #00BCD4;
}

.cyan-border-sm {
	border: 10px solid #00BCD4;
}

.cyan{
	color: #00BCD4;
}

.bgc-black {
	background-color: #000000;
	color: white;
}

.bg-img {
	background: url(../img/bg.png);
	background-size: 1440px 800px;
}

/*------------------ Media Queries -----------------*/

@media (max-width: 768px) {
  .ht-x {
    height: 100%;
  }

  li {
  	display: inline;
  	padding-right: 10%;
  }

  txt-xxlg {
  	font-size: 50px;
  }
}

